html {
    box-sizing: border-box;
}



*,
*::after,
*::before {
    box-sizing: inherit;
}


.our-team-soc-list {
    display: flex;
    width: 44px;
    height: 44px;
    margin-top: 20px;

}

li {
    margin-right: 10px;
    outline: 2px solid red;
}